{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": "react-app",
  "globals": {},
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-bitwise": [
      "error",
      {
        "allow": [
          "~"
        ]
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "no-plusplus": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "jsx-a11y/href-no-hash": "off",
    "no-console": "warn",
    "valid-jsdoc": "warn"
  }
}
