.color-gray {
  color: $gray;
}

.color-gray-dark {
  color: $gray-dark;
}

.color-address-gray {
  color: $address-gray;
}

.color-persian-red {
  color: $persian-red;
}

.color-persian-red-light {
  color: $persian-red-light;
}

.color-gray-lightest {
  color: $gray-lightest;
}

.color-inherit {
  color: inherit;
}

.fill-persian-red {
  fill: $persian-red;
}

.fill-gray-icon {
  fill: $gray-icon;
}

.bg-color-gray-lighter {
  background-color: $gray-lighter;
}
