html {
  font-family: 'Open Sans', Arial, sans-serif;
}

.montserrat {
  font-family: 'Montserrat', Arial, sans-serif;
}

.text-decoration-none {
  text-decoration: none !important;
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 600;
}

.medium-bold {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.word-break {
  word-break: break-word;
}
