$white: #fff;
$dirty-white: #eef2f7;
$main-gray-bg: #f7f8f9;

$gray-lightest: #a6aeb6;
$gray-light: #d0d7de;
$gray: #6e7780;
$gray-dark: #474d55;
$gray-lighter: #f4f6f7;
$gray-icon: #858f99;
$arrow-gray: #575c63;
$address-gray: #6e7780;

$danger: #de3d3f;
$opacity-danger: rgba(200, 49, 51, 0.05);

$persian-red: #c83133;
$persian-red-light: #de3d3f;
$persian-red-bright: #ff292b;
$persian-red-dark: #a31b1d;
$green: #51915a;
$green-light: rgba(81, 145, 90, 0.07);
$red-light: rgba(222, 61, 63, 0.07);
